/* ===== General Styles ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #3d1727, #000000);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F4F4F4;
  height: 100%;
}

header {
  height: 10px;
}

/* ===== Top Bar ===== */
.topbar {
  text-align: center;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 9px 25px;
  background: rgba(13, 13, 16, 0);
  border-bottom: 0px solid #9e5e7a;
  transition: background 0.15s ease, border-bottom 0.15s ease;
}

#menuBtn {
  width: 23px;
  height: 26px;
  cursor: pointer;
  margin-right: 15px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer .logo {
  width: 42px;
  height: 42px;
  margin-right: 7px;
  margin-left: 12px;
}

.logoContainer h1 {
  color: #F4F4F4;
  font-size: 20px;
  margin: 0;
  margin-top: 8px;
}

.search-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 95px;
}

.search-wrapper input {
  color: #F4F4F4;
  background-color: rgb(102, 76, 99, 0.4);
  padding: 8px 10px 8px 30px;
  border-radius: 5px;
  border: 1px solid rgb(103,89,89,0.4);
  height: 12px;
  width: 320px;
}

.search-wrapper .search-icon {
  position: absolute;
  pointer-events: none;
  width: 17px;
  height: 17px;
  top: 20%;
  left: 8px;
}

.signinA{
  text-decoration: none;
  color: #F4F4F4;
  font-size: 15px;
  margin-left: auto;
  margin-right: 80px;
}
.signinA:hover{
  color: rgb(255, 111, 179);
}

/* ===== Side Navigation ===== */
#sideNav {
  position: fixed;
  width: 75px;
  height: 100%;
  background-color: rgba(13, 13, 16, 0);
  padding-top: 60px;
}

#sideNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

#sideNav ul li {
  margin: 0 0;
  text-align: center;
}

#sideNav ul li a {
  text-decoration: none;
  color: #F4F4F4;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
  padding: 9px 0;
  width: 76%;
  border-radius: 9px;
  margin-bottom: 3px;
}

#sideNav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#sideNav ul li a img {
  width: 31px;
  height: 32px;
}

/* ===== Music Player ===== */
.musicbar {
  text-align: center;
  position: fixed;
  bottom: 0; 
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 9px 25px;
  background: rgb(26,26,31);
  box-sizing: border-box;
  color: #F4F4F4;
  justify-content: space-between;
}

.music-info {
  display: flex;
  align-items: center;
}

.music-info img {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 15px;
  object-fit: cover;
}

.songname{
  margin-top: 10px;
  font-size: 20px;
  width: 400px;
  text-align: left;
}

.music-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -275px;
}

.music-controls .buttons {
  display: flex;
  align-items: center;
}

.music-controls img {
  width: 25px;
  height: 25px;
  margin-left: 7px;
  margin-right: 7px;
}

.music-controls button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.progress-bar {
  margin-top: 10px;
  width: 700px;
  height: 5px;
  background: rgba(139, 139, 139, 0.7);
  accent-color: #FF4F9A;
  cursor: pointer;
}

.volume-control {
  display: flex;
  align-items: center;
}

.volume-control button {
  margin-top: 4px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 5px;
}

.volume-control button img {
  width: 25px;
  height: 25px;
}

.volume-control input{
  margin-right: 32px;
  height: 5px;
  width: 160px;  
  background: rgba(139, 139, 139, 0.7);
  accent-color: #FF4F9A;
  cursor: pointer;
}


/* ===== Main Content ===== */
main {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  margin-left: 80px;
  padding-bottom: 100px;
}

.content h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.content p {
  font-size: 18px;
  color: #F4F4F4;
}
