.musiclist_section {
  text-align: left;
  margin: -20px 190px;
  width: 1560px;
}

.title-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title-block h2 {
  font-size: 37px;
  margin: 0;
}

.title-block .artist-subinfo {
  font-size: 15px;
  opacity: 0.7;
  margin-left: 3px;
}

.musiclist_section .section-header {
  width: 99%;
  margin-left: 0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.musiclist_section .section-header h2 {
  font-size: 37px;
  margin-bottom: 5px;
}

.musiclist_section .artist-subinfo {
  font-size: 15px;
  opacity: 0.7;
  margin-left: 5px;
}

.playall-btn {
  padding: 10px 15px;
  background: #FF4F9A;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  width: 210px;
  height: 45px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.playall-btn:hover {
  background: #FF6FB3;
}

.playall-btn img {
  width: 30px;
  height: 30px;
}

/* Divider */
.musiclist_section .divider {
  width: 100%;
  border: 0.1px solid rgba(255, 255, 255, 0.6);
  margin: 12px 0 20px 0;
}

/* COLUMN LIST (vertical layout) */
.musiclist_column {
  width: 99%;
  margin-left: 0.5%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* Each music row */
.song-row {
  display: flex;
  align-items: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  border-radius: 6px;
  height: 46px;
  cursor: pointer;
}

.song-row:hover {
  background: rgba(81, 41, 87, 0.4);
}

/* Album art */
.song-row img {
  width: 46px;
  height: 46px;
  border-radius: 6px;
  object-fit: cover;
}

/* Text info */
.song-details {
  display: grid;
  grid-template-columns: 400px 200px 100px; /* fixed width for each “column” */
  align-items: center;
  gap: 350px; /* space between columns */
  width: 100%;
  margin-left: 15px;
}

.song-details span {
  white-space: nowrap; /* prevent wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* cut long text with ... */
}

.song-title {
  font-weight: normal;
  font-size: 18px;
}

.song-artist,
.song-views {
  color: #8b8b8b;
  font-size: 16px;
}
